.calendar {
  width: 100%;
  padding: 30px;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;

    &__btn {
      color: black;
      border: none;
      padding: 10px;
      cursor: pointer;
      background-color: transparent;
      font-size: 18px;
    }
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: 10px;
    margin-top: 10px;

    &__day {
      position: relative;
      padding: 10px;
      text-align: center;
      cursor: pointer;
      width: calc(
        (100vw - 120px) / 7
      ); /* Set the day width based on the viewport width with 10px space and padding */
      height: calc(
        (100vh - 120px) / 7
      ); /* Set the day height based on the viewport height with 10px space and padding */
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

      &-name {
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
      }

      &__event-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &__event-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &__number {
        z-index: 1;
        position: absolute;
        top: 5px;
        right: 5px;
        font-weight: bold;
        padding: 4px 8px;
        border-radius: 50%;

        &--with-event {
          background-color: blue;
          color: white;
        }
      }
    }

    &__event {
      grid-column: 1 / span 7;
      position: relative;
    }
  }
}
